<div class="cont">

    <div class="form-container">
        <h2>Register Here!!!</h2>
        <form method="post" class="form-group" style="text-align: center;" ngNativeValidate>
            <input type="text" name="fullname" id="fullname" placeholder="Fullname" required autofocus>
            <br /><br />
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <br /><br />
            <input type="password" name="password" id="password" placeholder="Password" required>
            <br /><br />
            <input type="text" name="city" id="city" placeholder="City" required>
            <br /> <br />
            <input type="text" name="landmark" id="landmark" placeholder="Landmark" required>
            <br /><br />
            <input type="text" name="phoneno." id="phoneno." placeholder="PhoneNo." required>
            <br /><br />
            <input type="text" name="pincode" id="pincode" placeholder="Pincode" required>
            <br /><br />
            <label for="submit"></label>
            <input type="submit" name="submit" id="submit" value="Register">

        </form>
    </div>
</div>