
.container{
    display: flex;
    flex-wrap:  wrap;
    padding: 25px;

    /* justify-content: center; */
}
h4{
    text-align: center;
}
h3{

    margin: auto;
}

#content{
    border: 2px solid black; 
    width: fit-content;
    border-radius: 20px;
    box-shadow: 10px 0px 10px 0px black;
}

.ti{
    padding-top: 50px;
    text-align: center;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.cart{
    width: 100%;
    margin:10px;
    margin-left: 10px;
}

.articles > div{
    width: 200px;
    margin:20px;
}

img{
    width: 280px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
   
}

.prod{
    display: flex;
    flex-direction: row;

}



#price1, #price2, #price3, #price4{
    margin-right: 5px;
}

.inputs, input, select{
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

input{
    width: 50px;
}

.addTo{
    position: relative;
    left: 0px;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    margin-top: 20px;
    background-image: linear-gradient(to right, #08af4e, #24dd87);
    color: beige;
    border-width: 0px;
}

.addTo:hover{
    background-image: none;
    background-color: crimson;
    box-shadow: 0 0 5px red, 0 0 5px red, 0 0 5px red;
    border: #ff512f;
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}

#message1,#message2,#message3,#message4{
    color: greenyellow;
    text-align: center;
}

button{
    position:absolute;
    right: 20px;
    border-radius: 50%;
    color: aliceblue;
    background-color: #ff512f;
    border-width: 0px;
}

button:hover{
    
    background-color: #dd2476
    
}

.btn{
position: relative;
    width: 100px;
    height: 50px;
    float: right;
}