<h2 style="background-color:rgb(228, 65, 65);
color: aliceblue;

text-align: center;">DRINKS</h2>
<div class="container d-flex justify-content-center">
  <div class="articles">
    <div id="content">
      <img src=".../../assets/images/Coke.jpg" />
      <div class="prod">
        <h3 class="tit" id="brand1" name="orderName">COKE</h3><br><br>
      </div>
      <h4 id="price1" name="orderPrice">70.00 ₹ </h4>
      <div class="inputs">
        Add Quantity: <input type="number" id="qty1" min="1" max="99" value="1" required [(ngModel)]="order.qty"
          name="quantity1" /><br><br>
        <select name="size1" id="size1" onclick="deleteE('message1')">
                        <option value="size" diasbled selected>Size</option>
            <option value="500ml">500 ml</option>
            <option value="750ml">750ml</option>
            <option value="1L">1L</option>
        </select>
        <div>
          <button class="addTo" onclick="add(1)" (click)="onSubmit('Coke',70, order.qty )">Add</button>
        </div>
      </div>
      <p id="message1"></p>
    </div>
    <div id="content">
      <img src="../../assets/images/Icetea.jfif" />
      <div class="prod">
        <h3 class="tit" id="brand2" name="orderName">Ice Tea</h3><br><br>
      </div>
      <h4 id="price2" name="orderPrice">130.00 ₹ </h4>

      <div class="inputs">
        Add Quantity: <input type="number" id="qty2" min="1" max="99" value="1" required [(ngModel)]="order.qty"
          name="quantity2" /><br><br>
        <select name="size2" id="size2" onclick="deleteE('message2')">
            <option value="size" diasbled selected>Size</option>
            <option value="500ml">500 ml</option>
            <option value="750ml">750ml</option>
            <option value="1L">1L</option>
        </select>
        <div>
          <button class="addTo" onclick="add(2)" (click)="onSubmit('Ice Tea',130, order.qty )">Add</button>
        </div>
      </div>
      <p id="message2"></p>
    </div>
    <div id="content">
      <img src="../../assets/images/leman Mocltail.jfif"/>
      <div class="prod">
        <h3 class="tit" id="brand3" name="orderName">Lemon Mocktail</h3><br><br>
      </div>
      <h4 id="price3" name="orderPrice">80.00 ₹</h4>

      <div class="inputs">
        Add Quantity: <input type="number" id="qty3" min="1" max="99" value="1" required [(ngModel)]="order.qty"
          name="quantity3" /><br><br>
        <select name="size3" id="size3" onclick="deleteE('message3')">
            <option value="size" diasbled selected>Size</option>
                        <option value="500ml">500 ml</option>
                        <option value="750ml">750ml</option>
                        <option value="1L">1L</option>
        </select>
        <div>
          <button class="addTo" onclick="add(3)" (click)="onSubmit('Lemon Mocktail',80, order.qty )">Add</button>
        </div>
      </div>
      <p id="message3"></p>
    </div>
    <div id="content">
      <img src="../../assets/images/Orangejuice.jpg" />
      <div class="prod">
        <h3 class="tit" id="brand4" name="orderName">Orange juice</h3><br><br>
      </div>
      <h4 id="price4" name="orderPrice">60.00 ₹</h4>
      <div class="inputs">
        Add Quantity: <input type="number" id="qty4" min="1" max="99" value="1" required [(ngModel)]="order.qty"
          name="quantity4" /><br><br>
        <select name="size4" id="size4" onclick="deleteE('message4')">
            <option value="size" diasbled selected>Size</option>
            <option value="500ml">500 ml</option>
            <option value="750ml">750ml</option>
            <option value="1L">1L</option>
        </select>
        <div>
          <button class="addTo" onclick="add(4)" (click)="onSubmit('Orange juice',60, order.qty )">Add</button>
        </div>
      </div>
      <p id="message4"></p>
    </div> 
    <div id="content">
      <img src="../../assets/images/pomegranatemocktail.jpg"  />
      <div class="prod">
        <h3 class="tit" id="brand4" name="orderName">Blueribbon mocktail</h3><br><br>
      </div>
      <h4 id="price4" name="orderPrice">99.00 ₹</h4>
      <div class="inputs">
        Add Quantity: <input type="number" id="qty5" min="1" max="99" value="1" required [(ngModel)]="order.qty"
          name="quantity5" /><br><br>
        <select name="size5" id="size5" onclick="deleteE('message5')">
            <option value="size" diasbled selected>Size</option>
            <option value="500ml">500 ml</option>
            <option value="750ml">750ml</option>
            <option value="1L">1L</option>
        </select>
        <div>
          <button class="addTo" onclick="add(5)" (click)="onSubmit('Pomegranate mocktail',99, order.qty )">Add</button>
        </div>
      </div>
      <p id="message5"></p>
    </div>
    <div id="content">
      <img src="../../assets/images/strawberrylemon.jfif" />
      <div class="prod">
        <h3 class="tit" id="brand5" name="orderName">Strawberry Lemon</h3><br><br>
      </div>
      <h4 id="price5" name="orderPrice">109.00 ₹</h4>
      <div class="inputs">
        Add Quantity: <input type="number" id="qty6" min="1" max="99" value="1" required [(ngModel)]="order.qty"
          name="quantity6" /><br><br>
        <select name="size5" id="size5" onclick="deleteE('message6')">
            <option value="size" diasbled selected>Size</option>
                        <option value="500ml">500 ml</option>
                        <option value="750ml">750ml</option>
                        <option value="1L">1L</option>
        </select>
        <div>
          <button class="addTo" onclick="add(6)" (click)="onSubmit('Strawberry Lemon',109, order.qty )">Add</button>
        </div>
      </div>
      <p id="message6"></p>
    </div>
  </div>
  <hr style="border: 10px black; width: 100%; height: 10px;">
  <div class="cart">

    <h3 class="tit" style="background-color:rgb(228, 65, 65);
      color: aliceblue;
      text-align: center;
      ">My Cart</h3><br>
    <ol id="items">

    </ol><br>
    <hr style="size: 10px;">
    <!-- <h3 id="total" style="text-align: right">Total: 0 ₹</h3> -->
    <input type="button" class="btn btn-outline-success mt-5" (click)="gotoList()" value="View Cart" />
  </div>

</div>