<div class="home">
<div class="container">  
    <form id="contact"method="post"(ngSubmit)="onSubmit()" ngNativeValidate>
      <h3>Contact Us</h3>
      <h4>We Will Reply You within 24 hours!</h4>
      <fieldset>
        <input placeholder="Your name"  type="text" tabindex="1" required [(ngModel)]="contact.name" name="name">
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address"  type="email" tabindex="2"  required [(ngModel)]="contact.email" name="email">
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your Message Here...."  tabindex="5"  required [(ngModel)]="contact.description" name="description"></textarea>
      </fieldset>
      <fieldset>
        <button  type="submit" id="contact-submit">Submit</button>
      </fieldset>
    </form>
  </div>
</div>