
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("/assets/images/loginback.png");
    background-size: cover;
    margin-bottom: -195px;
    background-position: center center;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.3),(rgba(92, 2, 2, 0.3)));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}
.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: rgb(207, 72, 9);
    border: none;
    outline: none;
    margin: 1em 0;
}
.control input[type="submit"]{
    background: rgb(68, 58, 202);
    color: rgb(219, 236, 60);
    font-size: 1.3em;
    opacity: .8;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.link{
    text-align: center;
    font-size: medium;
}
.link a{
    text-decoration: none;
    color:rgb(60, 24, 224);
    opacity: 2;
    transition: opacity .3s ease;
}
.link a:hover{
    opacity: 1;
}

