 <!--Showcase-->
 <section id="showcase">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center mt-5" style="color: black; font-weight: bolder;">
                    <h1 class="display-3 mt-5 pt-5">Order Healthy and Best Food Any Time</h1><br><br>
                    <!-- <p class="lead">Italian food makes people think of big family dinners. So you may want to position your restaurant as a place to bring the whole family.</p> -->
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Order Your Favourite food
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Get Fastest Delivery
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Good Food is here
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="gif">
                    <img src="/assets/images/order.gif" alt="" class="img-fluid d-none d-lg-block mt-5 pt-3 mx-5" width="700px" height="700px" style="margin-top: 200px; border-radius: 100%;">
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- Speciality template -->
    <section class="speciality" id="speciality">
    
        <div class="container" id="h1"><h1 style="text-align: center;"> Our <span>Speciality</span> </h1><br></div>
    
        <div class="box-container">
    
            <div class="box" id="box1">
                <img class="image" src="/assets/images/s-img-1.jpg" alt="">
                
                <div class="content">
                    <img src="/assets/images/s-1.png" alt="">
                    <h3>Tasty Burger</h3>
                </div>
            </div>
            <div class="box" id="box2" >
                <img class="image" src="/assets/images/s-img-2.jpg" alt="">
                <div class="content">
                    <img src="/assets/images/s-2.png" alt="">
                    <h3 >Tasty Pizza</h3>
                </div>
            </div>
            <div class="box" id="box3">
                <img class="image" src="/assets/images/s-img-3.jpg" alt="">
                <div class="content">
                    <img src="/assets/images/s-3.png" alt="">
                    <h3>Cold ice-cream</h3>
                </div>
            </div>
            <div class="box" id="box4">
                <img class="image" src="/assets/images/s-img-4.jpg" alt="">
                <div class="content">
                    <img src="/assets/images/s-4.png" alt="">
                    <h3>Cold drinks</h3>
                </div>
            </div>
            <div class="box" id="box5">
                <img class="image" src="/assets/images/s-img-5.jpg" alt="">
                <div class="content">
                    <img src="/assets/images/s-5.png" alt="">
                    <h3>Tasty Sweets</h3>
                </div>
            </div>
            <div class="box" id="box6">
                <img class="image" src="/assets/images/s-img-6.jpg" alt="">
                <div class="content">
                    <img src="/assets/images/s-6.png" alt="">
                    <h3>Healty Breakfast</h3>
                </div>
            </div>
    
        </div>
    
    </section>
    
<!-- end  -->

<!-- Popular section  -->
<section class="popular" id="popular">

       <div class="container" id="h1"><h1 style="text-align: center;"> Most <span>Popular</span> Foods </h1></div> 
    
        <div class="box-container">
    
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/p-1.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>tasty burger</h3>
                <a routerLink="/item" class="btn" routerLinkActive="active">Order Now</a>
            </div>
            <div class="box">
                <span class="price"> INR 100</span>
                <img src="/assets/images/cakes.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>tasty cakes</h3>
                <a href="#" class="btn">order now</a>
            </div>
            <div class="box">
                <span class="price">INR 200</span>
                <img src="/assets/images/cakes1.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>tasty sweets</h3>
                
                <a href="#" class="btn">order now</a>
            </div>
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/p-4.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>tasty <br>cupcakes</h3>
               
                <a href="#" class="btn">order now</a>
            </div>
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/smoothie.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>Cold<br>drinks</h3>
               
                <a href="#" class="btn">order now</a>
            </div>
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/p-6.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>cold<br> ice-cream</h3>
               
                <a href="#" class="btn">order now</a>
            </div>
    
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/noodles1.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>Noodles</h3>
               
                <a href="#" class="btn">order now</a>
            </div>
    
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/biryani1.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>Biryani</h3>
               
                <a href="#" class="btn">order now</a>
            </div>
    
            <div class="box">
                <span class="price"> INR 100 </span>
                <img src="/assets/images/pavbhaji.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
                <h3>Pavbhaji</h3>
               
                <a href="#" class="btn">order now</a>
            </div>
       
        <div class="box">
            <span class="price"> INR 100 </span>
            <img src="/assets/images/suzzi.jpg" alt="">
            <a href="#" class="fas fa-heart"></a>
            <h3>suzzi</h3>
           
            <a href="#" class="btn">order now</a>
        </div>
    
        <div class="box">
            <span class="price"> INR 100 </span>
            <img src="/assets/images/sandwhich.jpg" alt="">
            <a href="#" class="fas fa-heart"></a>
            <h3>sandwhich</h3>
           
            <a href="#" class="btn">order now</a>
        </div>
    
        <div class="box">
            <span class="price"> INR 100 </span>
            <img src="/assets/images/s-img-2.jpg" alt="">
            <a href="#" class="fas fa-heart"></a>
            <h3>Pizza</h3>
           
            <a href="#" class="btn">order now</a>
        </div>
    
    
    </div>
    </section>

    <!-- end  -->

    
<div class="step-container">

    <div id="h1"><h1 >how it <span>works</span></h1></div>

    <section class="steps">

        <div class="box">
            <img src="/assets/images/step-1.jpg" alt="">
            <h3>choose your favorite food</h3>
        </div>
        <div class="box">
            <img src="/assets/images/step-2.jpg" alt="">
            <h3>free and fast delivery</h3>
        </div>
        <div class="box">
            <img src="/assets/images/step-3.jpg" alt="">
            <h3>easy payments methods</h3>
        </div>
        <div class="box">
            <img src="/assets/images/step-4.jpg" alt="">
            <h3>and finally, enjoy your food</h3>
        </div>
    
    </section>

</div>

