

<nav class="navbar navbar-expand-md" >
  <a href="#home" class="navbar-brand">
    <img src="/assets/images/images.jfif" alt="" width="75" height="75" class="rounded-circle">
    <h3 class="d-inline align-middle" style="color: black;">Foodota</h3>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!loginService.isUserLoggedIn()" routerLink="registration" class="nav-link" routerLinkActive="active">Sign up</a>
    </li>
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="contact" class="nav-link" routerLinkActive="active">Contact</a>
    </li>
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="nav-link" routerLinkActive="active">Logout</a>
  </li>
  </ul>
</nav>



<!-- <nav class="navbar navbar-expand-md navbar-light py-4" id="main-nav">
  <a href="#home" class="navbar-brand">
    <img src="/assets/images/images.jfif" alt="" width="75" height="75" class="rounded-circle">
    <h3 class="d-inline align-middle">Foodota</h3>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="registration" class="nav-link" routerLinkActive="active">Sign up</a>
    </li>

    <li class="nav-item">
      <a href="login.html" class="nav-link">
        <i class="fas fa-user-times"></i>Logout
      </a>
    </li>
  </ul>
</nav> -->

<!-- Main -->

  <!-- <div class="container mt-5" id="main">

    <div class="card">
      <div class="card-body"> -->
        <router-outlet></router-outlet>
      <!-- </div>
    </div>
  </div> -->

  <section class="footer">
    <div> <h4 style="color: aquamarine; margin-top:-150px;">Follow us For Exiciting Offers </h4>
        <a href="#" class="btn"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#" class="btn"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#" class="btn"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#" class="btn"><i class="fab fa-google-plus fa-2x"></i></a>
    </div>
  
    <h3 class="credit"> Created By <span> Team UTKARSHA </span> | All Rights Reserved @ 2022 </h3>
  
  </section>
