<div class="cont">

    <div class="form-container">
        <h2>Account</h2>
        <form  (ngSubmit)="onSubmit()" class="form-group" style="text-align: center;">
            <div class="form-group">
            <input type="text"  id="fullname" class="form-control" [(ngModel)]="customer.fullName" name="fullName" required  />
            </div>
            <br />
            <input type="email"  class="form-control"  required [(ngModel)]="customer.email" name="email" />
            
            <br />

            <input type="text"  class="form-control" required  [(ngModel)]="customer.phoneNo" name="phoneNo"/>
            <br>

            <input type="password"  class="form-control" required [(ngModel)]="customer.password" name="password" />
            <br />

            <input type="text" class="form-control" required [(ngModel)]="customer.city" name="city"/>
           <br />

            <input type="text"  class="form-control" required [(ngModel)]="customer.landmark" name="landmark"/>
           <br />

            <input type="text" class="form-control"  required [(ngModel)]="customer.pincode" name="pincode"/>
            <br><br>

            <label for="submit"></label>
            <input type="submit" name="submit" id="submit" value="Update"><br><br>

        </form>
    </div>
</div>