<div class="container">
    <div class="articles">
      <div>
        <img src="/assets/images/s-img-1" />
        <div class="prod">
          <h3 class="tit" id="brand1">Nike</h3>
          <h4 id="price1">19.90</h4>
          <h4>tl</h4>
        </div>
        <div class="inputs">
          <input
            type="number"
            id="quantity1"
            name="quantity1"
            min="1"
            max="99"
            value="1"
          />
          <select name="size1" id="size1" onclick="deleteE('message1')">
            <option value="size" diasbled selected>Size</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
          <div>
             <button class="addTo" onclick="add(1)">Add</button>
          </div>
        </div>
        <p id="message1"></p>
      </div>
      <div>
        <img src="assets/images/s-img-2" />
        <div class="prod">
          <h3 class="tit" id="brand2">Nike</h3>
          <h4 id="price2">19.90</h4>
          <h4>tl</h4>
        </div>
        <div class="inputs">
          <input
            type="number"
            id="quantity2"
            name="quantity2"
            min="1"
            max="99"
            value="1"
          />
          <select name="size2" id="size2" onclick="deleteE('message2')">
            <option value="size" diasbled selected>Size</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
          <div>
             <button class="addTo" onclick="add(2)">Add</button>
          </div>
        </div>
        <p id="message2"></p>
      </div>
      <div>
        <img src="/assets/images/s-img-3"/>
        <div class="prod">
          <h3 class="tit" id="brand3">Adidas</h3>
          <h4 id="price3">19.90</h4>
          <h4>tl</h4>
        </div>
        <div class="inputs">
          <input
            type="number"
            id="quantity3"
            name="quantity3"
            min="1"
            max="99"
            value="1"
          />
          <select name="size3" id="size3" onclick="deleteE('message3')">
            <option value="size" diasbled selected>Size</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
          <div>
             <button class="addTo" onclick="add(3)">Add</button>
          </div>
        </div>
        <p id="message3"></p>
      </div>
      <div>
        <img src="/assets/images/s-img-4" />
        <div class="prod">
          <h3 class="tit" id="brand4">Puma</h3>
          <h4 id="price4">19.90</h4>
          <h4>tl</h4>
        </div>
        <div class="inputs">
          <input
            type="number"
            id="quantity4"
            name="quantity4"
            min="1"
            max="99"
            value="1"
          />
          <select name="size4" id="size4" onclick="deleteE('message4')">
            <option value="size" diasbled selected>Size</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
          <div>
             <button class="addTo" onclick="add(4)">Add</button>
          </div>
        </div>
        <p id="message4"></p>
      </div>
    </div>
    <div class="cart">
      <h3 class="tit">My Articles</h3>
      <ul id="items">
      </ul>
      <h3 id="total" style="text-align: right">Total: 0 TL</h3>
    </div>
  </div>
  